@import "../../vars.scss";

.input {
  padding: 11px 13px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  line-height: 1.5;
  @media (max-width: $tablet) {
    margin-right: 0;
    max-width: 360px;
    width: 100%;
    margin-bottom: 10px;
  }
  &_mb {
    @media (max-width: $desktop) {
      margin-bottom: 10px;
    }
  }
}
