.line {
  width: 54px;
  height: 2px;
  margin: 0 auto;
  &_orange {
    background-color: #ff5126;
  }
  &_yellow {
    background-color: rgb(170, 170, 34);
  }
  &_mb {
    margin-bottom: 20px;
  }
}
