@import "./../../vars.scss";

.button {
  padding: 10px 30px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.7;
  cursor: pointer;
  &:hover {
    color: rgba(255, 255, 255, 0.719);
    border-color: rgba(255, 255, 255, 0.719);
    transition: 0.1s;
  }
  &_orange {
    background: #ff5126;
    margin: 0 auto;
    border: none;
  }
  &_yellow {
    background: rgb(170, 170, 34);
    margin: 0 auto;
    border: none;
    &:hover {
      color: black;
      transition: 0.1s;
    }
  }
  &_orangeMb {
    margin: 0 auto;
    border: none;
    margin-bottom: 30px;
    font-size: 20px;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  @media (max-width: $tablet) {
    &_orangeForm {
      background: #ff5126;
      margin: 0 auto;
      border: none;
      max-width: 360px;
      width: 100%;
    }
  }
}
