@import "./../../vars.scss";

.hot {
  background: url(../../assets/Images/HotImages/mountsBig.png) no-repeat;
  background-size: 100% 600px;
  background-position: top;
  padding-top: 130px;
  @media (max-width: $desktop) {
    background-size: 100% 570px;
  }
  @media (max-width: $netbook) {
    background-size: 100% 400px;
    padding-top: 60px;
  }
  @media (max-width: $tablet) {
    padding-top: 30px;
  }
  @media (max-width: $phone) {
    background-size: 100% 350px;
  }
  &__headSection {
    margin-bottom: 140px;
    @media (max-width: $netbook) {
      margin-bottom: 60px;
    }
  }
  &__inner {
    max-width: 1064px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $phone) {
      padding: 10px 10px 30px 10px;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  &__line {
    border-top: 1px solid #d9d9d9;
  }
}
