@import "./../../../../vars.scss";

.footerItem {
  width: calc((100% - 60px) / 3);
  padding: 30px 0;
  @media (max-width: $tablet) {
    width: 100%;
  }
  &__title {
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 30px;
  }
}
