@import "./../../../../vars.scss";

.statItem {
  width: calc((100% - 30px) / 2);
  border: 1px solid #d9d9d9;
  padding: 50px;
  @media (max-width: $tablet) {
    width: 100%;
    padding: 34px;
  }
  &__title {
    font-size: 14px;
    font-family: "Roboto";
    margin-bottom: 30px;
  }
  &__num {
    font-size: 100px;
    font-family: "Roboto";
    &_orange {
      color: #ff5126;
    }
    &_yellow {
      color: rgb(170, 170, 34);
    }
  }
  &:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  @media (max-width: $tablet) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
}
