@import "./../../vars.scss";

.statistics {
  background: url(./../../assets/Images/Statistics/stat_bg.jpeg) no-repeat;
  background-size: cover;
  background-position: 0 -443px;
  padding-top: 30px;
  &__headSection {
    max-width: 880px;
    margin: 0 auto;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  &__wrapper {
    text-align: center;
  }
  &__inner {
    max-width: 880px;
    background: #fff;
    padding: 42px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $phone) {
      padding: 30px;
    }
  }
}
