@import "./../../vars.scss";

.intro {
  &__wrapper {
    background: url(../../assets/Images/IntroImages/ballons.jpeg) no-repeat;
    background-size: contain;
    background-position: center;
    @media (max-width: $phone) {
      background-size: cover;
    }
  }
  &__bg {
    background: url(../../assets/Images/IntroImages/blob.png) no-repeat;
    width: 100%;
    min-height: 690px;
    background-size: cover;
    background-position: bottom;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    @media (max-width: $desktop) {
      min-height: 630px;
    }
    @media (max-width: $netbook) {
      min-height: 520px;
    }
    @media (max-width: $tablet) {
      min-height: 420px;
    }
    @media (max-width: $phone) {
      background: none;
      min-height: 500px;
    }
  }
  &__suptitle {
    font-size: 20px;
    font-family: "Roboto", serif;
    font-weight: 300;
    margin-bottom: 20px;
    @media (max-width: $tablet) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  &__title {
    font-size: 96px;
    letter-spacing: -7px;
    margin-bottom: 30px;
    @media (max-width: $desktop) {
      font-size: 78px;
    }
    @media (max-width: $netbook) {
      font-size: 60px;
      letter-spacing: -5px;
    }
    @media (max-width: $tablet) {
      font-size: 40px;
      letter-spacing: -2px;
      margin-bottom: 20px;
    }
  }
  &__img {
    position: absolute;
    top: 30px;
    left: 155px;
    z-index: 1;
    width: 220px;
    @media (max-width: $desktop) {
      width: 200px;
      left: 80px;
    }
    @media (max-width: $netbook) {
      width: 180px;
      left: 36px;
      top: 9px;
    }
    @media (max-width: $tablet) {
      width: 160px;
      left: 0;
      top: -10px;
    }
    @media (max-width: $phone) {
      width: 130px;
      left: -20px;
      top: 40px;
    }
  }
}
