@import "./../../vars.scss";

.footer {
  background: #1a1a1a;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  &__content {
    display: flex;
    justify-content: space-around;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__line {
    border-top: 2px solid #fff;
    opacity: 0.3;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 20px;
    font-family: "Roboto";
  }
}
