.admin-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  &__feedback {
    padding-top: 20px;
  }
}

fieldset {
  padding: 20px 20px;
  margin-bottom: 30px;
}
