@import "./../../vars.scss";

.headSection {
  text-align: center;
  &__title {
    font-size: 72px;
    font-family: "Roboto";
    margin-bottom: 20px;
    &_orange {
      color: #ff5126;
    }
    &_yellow {
      color: rgb(170, 170, 34);
    }
    @media (max-width: $netbook) {
      font-size: 60px;
    }
    @media (max-width: $phone) {
      font-size: 40px;
    }
  }
  &__text {
    line-height: 1.8;
  }
}
