@import "../../vars.scss";

.hot-item {
  width: calc((100% - 30px) / 2);
  border: 1px solid #d9d9d9;
  color: #454545;
  min-height: 450px;
  margin-bottom: 30px;
  @media (max-width: $netbook) {
    width: 100%;
  }
  &__img {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  &__content {
    padding: 0 15px 10px;
  }
  &__title {
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 20px;
    font-weight: 300;
  }
  &__text {
    font-style: italic;
    line-height: 2;
  }
}
