@import "./vars.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #111;
  background: #fff;
}

hr {
  border: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $desktop) {
    max-width: 924px;
  }
  @media (max-width: $netbook) {
    max-width: 720px;
  }
  @media (max-width: $tablet) {
    max-width: 540px;
  }
  @media (max-width: $phone) {
    padding: 0 20px;
  }
}

.company {
  &_orange {
    color: #ff5126;
  }
  &_yellow {
    color: rgb(170, 170, 34);
  }
}

span {
  font-weight: 700;
}
