.contacts {
  background: rgb(241, 240, 240);
  padding: 20px 0;
  &__wrapper {
    padding: 30px 20px;
    border: 1px solid #222;
    border-radius: 3px;
  }
  &__title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 700;
    &_orange {
      color: #ff5126;
    }
    &_yellow {
      color: rgb(170, 170, 34);
    }
  }
  &__text {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
